.contentContainer {
    margin:  0 auto;
    padding: 0 2rem;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}


.playerCardContainer {
    width: 100vw;
    height: 100vh;

    .playerCardContent {
        height: 100%;
        @media (min-width:1200px){
            padding-left: 30vh;
            padding-right: 30vh;
        }
        .playerCardHeader {
            height: 10%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            
            h1 {
                font-size: 3rem;
            }
        }
        
        .playerCardNumbers {
            height: 80%;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            font-size: 1rem;
        }
    
        .playerCardFooter {
            height: 10%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 1rem;
    
            button {
                height: 5vh;
                width: 20rem;
                border: 5px solid var(--white);
                background-color: var(--white);
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
                border-radius: 5px;
                font-weight: bold;
                font-size: 1.2rem;
        
                transition: filter 0.2s;
        
                &:hover { 
                    filter: brightness(0.9);
                }
        
                @media (max-width:800px){
                    flex-direction: column;
                    height: 3rem;
                    max-width: 70%;
                    border: 2px solid var(--blue-300);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }

}