.contentContainer {
    margin:  0 auto;
    padding: 0 2rem;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}


.rouletteContainer {
    width: 70%;
    height: 90vh;


    .rouletteHeader {
        height: 30vh;
        width: 100%;
        background-color: var(--brown-200);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 2rem;
        border-radius:20px;
        
        .sort {
            display: flex;
            align-items: center;
            flex-direction: column;

            .sortedNumber {
                background: var(--brown-100);
                border-radius: 50%;
                width: 13rem;
                height: 13rem;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 8rem;
                font-weight: bold;
            }

            .lastDraws{
                display: flex;
                justify-content: space-evenly;
                padding-top: 1rem;

                .lastNumbersDraw {
                    background: var(--brown-100);
                    border-radius: 50%;
                    width: 3rem;
                    height: 3rem; 
                    font-size: 1.5rem;
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 10px;
                }
            }


        }

        .buttonsPanel {
            height: 20vh;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            button {
                height: 5vh;
                width: 20rem;
                border: 5px solid var(--brown-400);
                border-radius: 5px;
                font-weight: bold;
                font-size: 1.2rem;

                transition: filter 0.2s;

                &:hover { 
                    filter: brightness(0.9);
                }
            }
        }


    }

    .rouletteCardNumbers {
        height: 55vh;
        display: grid;
        grid-template-columns: repeat(15, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        background-color: var(--brown-200);
    }

}


.playerCardContainer {
    width: 100vw;
    height: 100vh;
    
    .playerCardNumbers {
        height: 80%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        background-color: var(--brown-200);
        font-size: 1rem;
    }
}